/* You can add global styles to this file, and also import other style files */
.background{
    height: 100vh;
    background-image: url('https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/ShIZkZR4Zj4uxbdal/videoblocks-lobby-hotel-blurred-background_bn-fsihsf_thumbnail-1080_01.png');
    background-size: 100%;
    font-size: 20px;
    font-weight: 700;
    
    
    
  
    
 
   
}