<div class="container-fluid g-0" >
    
    
    
    <main >
        <div class="toolbar">
            <div class="add-room">
                <button type="button" class="btn btn-outline-success btn-lg"
                data-bs-toggle="modal" data-bs-target="#exampleModal">Add Room</button>
            </div>
           
        </div>
        <div class="rooms black-border">
            <div class="row mt-5" *ngIf="RoomList == 0">
                <div class="col text-center">
                    <span class="text-secondary fs-2 fw-bold fst-italic">There are No Rooms Added!</span>
                </div>
            </div>

            <div class="row " >
              
                <div class="container-fluid g-0 p-2 " >
                    <div class="row g-2" *ngFor="let room of RoomList" >
                        <div class="col-md-2 d-flex justify-content-center align-items-center">
                            <img src="../../../../assets/Images/download (1).jpg" alt="Profile Image" class="profile">
                        </div>
                        <div class="col ps-2">
                            <div class="row g-0">
                                <div class="col-md-10 text-center">
                                    <span class="name">Rooms</span>
                                </div>
                                <div class="col-md-2 d-flex justify-content-center align-items-center">
                                    <div class="btn-group" role="group">
                                     
                                        <button type="button" class="btn btn-outline-danger" (click)="DeleteRoom(room.room_id)">Delete</button>
                                    </div>
                                </div>
                
                            </div>
                
                            <div class="row g-0 mt-3"  >
                                <div class="col-md">
                                    <table class="table table-hover mx-auto">
                                        <tbody >
                                            <tr >
                                                <td>Room Type</td>
                                                <td>{{room.room_type}}</td>
                                            </tr>
                                            <tr>
                                                <td>Room Status</td>
                                                <td>{{room.status}}</td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col">
                                    <table class="table table-hover mx-auto">
                                        <tbody>
                                            <tr>
                                                <td>Check In Date</td>
                                                <td>{{room.check_in}}</td>
                                            </tr>
                                            <tr>
                                                <td>Check Out Date</td>
                                                <td>{{room.check_out}}</td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>

        </div>
        <div>
            <button   class="btn btn-primary btn-lg" (click)="GetAllRoom()">Show All Rooms</button>
          </div>
          <br>
          <div>
            <button class="btn btn-primary btn-lg" routerLink="/reservation">Reservation</button>
          </div>
    </main>
</div>


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Enter Room Information</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="roomForm" (ngSubmit)="roomSubmited()">
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Room Type" formControlName="room_type">
                        <div class="form-text text-danger" 
              *ngIf="RoomType.errors?.['required']
              && (RoomType.touched || RoomType.dirty)"> 
                Room Type is Required.
            </div>
                    </div>
    
                    <div class="col">
                        <div class="form-text text-danger" 
              *ngIf="Check_in.errors?.['required']
              && (Check_in.touched || Check_in.dirty)"> 
                Chekck-in Date is Required.
            </div>
                        <input type="date" class="form-control" placeholder="Check-in Date" formControlName="check_in">
                    </div>
                </div>
    
                
                <div class="row">
                    <div class="col">
                        <input type="date" class="form-control" placeholder="Check-out Date" formControlName="check_out">
                        <div class="form-text text-danger" 
              *ngIf="Check_out.errors?.['required']
              && (Check_out.touched || Check_out.dirty)"> 
                Check-out Date is Required.
            </div>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Status" formControlName="status">
                        <div class="form-text text-danger" 
              *ngIf="Status.errors?.['required']
              && (Status.touched || Status.dirty)"> 
                Status is Required.
            </div></div></div>
                   
    
               
    
                
                <div class="modal-footer">
          
         
                    <button type="submit" [disabled]="roomForm.invalid" class="btn btn-primary">Submit</button>
                  </div>

                 
            
          </form>

        </div>
        
       
      </div>
    </div>
    
  </div>